<%= form_for([@user, @list]) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  
<!-- cards novos -->
<div class="card border-primary mb-3" style="max-width: 30rem;">
  <div class="card-header">List</div>
  <div class="card-body text-primary">
    <h5 class="card-title">My List</h5>
    <p class="card-text"><div class="field">

    <div class="field">
<%= f.label :name %><br>
<%= f.text_field :name %>
</div>
    
    <div class="field">
<%= f.label :description %><br>
<%= f.text_field :description %>
</div>

<br>
<%= f.label :purchase %><br>
<%= f.check_box :purchase %>
</div>
<div class=”fields”>
<%= f.fields_for :products do |builder| %>
  <%= render "product_fields", f: builder %>
<% end %>
</div>
<p class="btn btn-light btn"><%= link_to_add_fields "Add Product", f, :products  %></p></p>
  </div>






  <div class="actions"  >
    <%= f.submit 'Submit List',class:"btn btn-dark btn-block" %>
  </div>
<% end %>
