<%= form_for([@user, @list]) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<%= f.label :name %><br>
<%= f.text_field :name %>
</div>

<div class="field">
<%= f.label :description %><br>
<%= f.text_field :description %>
</div>
<div class="field">
<%= f.label :purchase %><br>
<%= f.check_box :purchase %>
</div>
<div class=”fields”>
<%= f.fields_for :products do |builder| %>
  <%= render "product_fields", f: builder %>
<% end %>
</div>
<p><%= link_to_add_fields "Add Product", f, :products %></p>






  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
