<p id="notice"><%= notice %></p>

<p> <strong> Name:</strong>
<%= @list.name%>
</p>
<p> <strong> description:</strong>
<%= @list.description %>

</p>
<p> <strong> purchase:</strong>
<%= @list.purchase %> </p>
<table>
<tr>
<th> Product</th>
</tr>
<tr>
<% @list.products.each do |product| %>
<tr>
<th><%= product.name%><th>
</tr>
<% end%>
</table>



<%= link_to 'Edit', edit_user_list_path( @user ,@list) %> |
<%= link_to 'Back', user_lists_path(@user) %>